# SETTING UP API

1. import several libraries:

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

2. set up

In [2]:
# # stock = 'http://finance.yahoo.com/d/quotes.csv?s=<股票名称>&f=<数据列选项>'
# # stock_url = 'http://finance.yahoo.com/d/quotes.csv?s=AAPLr'
# test = 'http://ichart.yahoo.com/table.csv?s=<string>&a=<int>&b=<int>&c=<int>&d=<int>&e=<int>&f=<int>&g=d&ignore=.csv'
# data = requests.get(test).json()
# data

''' on website rapid API - https://rapidapi.com/sparior/api/yahoo-finance15/ '''

In [3]:
# ''' import news for testing '''
# # import requests

# url = "https://yahoo-finance15.p.rapidapi.com/api/yahoo/ne/news"

# headers = {
#     'x-rapidapi-key': "9f6fae673emsha786afc58b93082p1c5fb8jsn4ec87b939b9a",
#     'x-rapidapi-host': "yahoo-finance15.p.rapidapi.com"
#     }

# response = requests.request("GET", url, headers=headers)

# # print(response.text)

In [4]:
import requests
# # symbol = 'AAPL,MSFT'  # for test
symbol = 'AAPL'

''' - yahoo - '''
# url = f"https://yahoo-finance15.p.rapidapi.com/api/yahoo/qu/quote/{symbol}"

# headers = {
#     'x-rapidapi-key': "9f6fae673emsha786afc58b93082p1c5fb8jsn4ec87b939b9a",
#     'x-rapidapi-host': "yahoo-finance15.p.rapidapi.com"
#     }

# response = requests.request("GET", url, headers=headers)

# # print(response.text)
# # data = response.text
# data = response.json()
# # print(data)  # list
# data
# # print(type(data))

''' - alpha vintage - '''
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
API_KEY = 'DQY2IUH7KONJPJB9'
# url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey={API_KEY}'
url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={symbol}&apikey={API_KEY}'

r = requests.get(url)
data = r.json()

print(data)

{'Symbol': 'AAPL', 'AssetType': 'Common Stock', 'Name': 'Apple Inc', 'Description': "Apple Inc. is an American multinational technology company that specializes in consumer electronics, computer software, and online services. Apple is the world's largest technology company by revenue (totalling $274.5 billion in 2020) and, since January 2021, the world's most valuable company. As of 2021, Apple is the world's fourth-largest PC vendor by unit sales, and fourth-largest smartphone manufacturer. It is one of the Big Five American information technology companies, along with Amazon, Google, Microsoft, and Facebook.", 'CIK': '320193', 'Exchange': 'NASDAQ', 'Currency': 'USD', 'Country': 'USA', 'Sector': 'TECHNOLOGY', 'Industry': 'ELECTRONIC COMPUTERS', 'Address': 'ONE APPLE PARK WAY, CUPERTINO, CA, UNITED STATES', 'FiscalYearEnd': 'September', 'LatestQuarter': '2021-03-31', 'MarketCapitalization': '2407458144000', 'EBITDA': '110934999000', 'PERatio': '28.51', 'PEGRatio': '2.205', 'BookValue': '3.882', 'DividendPerShare': '0.835', 'DividendYield': '0.0058', 'EPS': '5.11', 'RevenuePerShareTTM': '20.61', 'ProfitMargin': '0.25', 'OperatingMarginTTM': '0.288', 'ReturnOnAssetsTTM': '0.193', 'ReturnOnEquityTTM': '1.271', 'RevenueTTM': '347155005000', 'GrossProfitTTM': '104956000000', 'DilutedEPSTTM': '5.11', 'QuarterlyEarningsGrowthYOY': '1', 'QuarterlyRevenueGrowthYOY': '0.364', 'AnalystTargetPrice': '159.34', 'TrailingPE': '28.51', 'ForwardPE': '26.74', 'PriceToSalesRatioTTM': '7.11', 'PriceToBookRatio': '37.28', 'EVToRevenue': '7.08', 'EVToEBITDA': '21.99', 'Beta': '1.207', '52WeekHigh': '150', '52WeekLow': '102.59', '50DayMovingAverage': '139.32', '200DayMovingAverage': '131.15', 'SharesOutstanding': '16530200000', 'SharesFloat': '16513305000', 'SharesShort': '96355000', 'SharesShortPriorMonth': '90214000', 'ShortRatio': '1.14', 'ShortPercentOutstanding': '0.01', 'ShortPercentFloat': '0.0058', 'PercentInsiders': '0.066', 'PercentInstitutions': '58.54', 'ForwardAnnualDividendRate': '0.88', 'ForwardAnnualDividendYield': '0.006', 'PayoutRatio': '0.223', 'DividendDate': '2021-05-13', 'ExDividendDate': '2021-08-06', 'LastSplitFactor': '4:1', 'LastSplitDate': '2020-08-31'}

In [5]:
''' dataframe '''
# df = data
# df
my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
df = pd.DataFrame(columns = my_columns)
df

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [6]:
df = df.append(
                                        pd.Series(['AAPL', 
                                                   data['AnalystTargetPrice'], 
                                                   data['MarketCapitalization'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
df

  Ticker   Price Market Capitalization Number Of Shares to Buy
0   AAPL  159.34         2407458144000                     N/A

## =====================================================

In [7]:
''' import 500 stocks' name'''
stocks = pd.read_csv('sp_500_stocks.csv')
print(type(stocks))

<class 'pandas.core.frame.DataFrame'>

In [8]:
# print(stocks)

In [9]:
API_KEYS = [
#     'DQY2IUH7KONJPJB9',  #yingyu.xu@student.manchester.ac.uk
    '7Q6UKNDJ1SV0YVDJ',  #xuyingyu1108@yeah.net
    'VSQEYNK8VNZB8YIR',  #1659335946@qq.com
    
    'M07BSY5KLLAXYX37',
    'ECTCRKGMYSF2KWQS',
    'Q3ZNYRZV6C5SPG4F',
    'RL3E2C98Z02WW3N5',
    'HQ95BEFLQHHEO28L',
    'T0B56WJC23ITV0K6',
    'CSP7673EWG692BFJ'
    
]

In [10]:
ticks = 0
apis = 0
import time

dfnew = pd.DataFrame(columns = my_columns)

# for symbol_string in symbol_strings:
for symbol_string in stocks['Ticker']:
#     print(symbol_strings)

    if ticks == 4:
#     if data_tmp['note'] != '':
        ticks = 0
        apis += 1
        if apis == 9:
            apis = 0
        time.sleep(60)
    
    API_KEY = API_KEYS[apis]
    batch_api_call_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={symbol_string}&apikey={API_KEY}'
    ticks += 1


    response_tmp = requests.get(batch_api_call_url)
    data_tmp = response_tmp.json()
  
    #     print(data_tmp)
    if data_tmp == {}:
        pass
    else:
    
    

        dfnew = dfnew.append(
                                        pd.Series([symbol_string, 
                                                   data_tmp['AnalystTargetPrice'], 
                                                   data_tmp['MarketCapitalization'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)

In [11]:
dfnew

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  148.94           46326645000                     N/A
1      AAL   18.85           13706685000                     N/A
2      AAP  218.69           13964006000                     N/A
3     AAPL  159.34         2407458144000                     N/A
4     ABBV  124.08          209950573000                     N/A
..     ...     ...                   ...                     ...
490    YUM   120.9           38819480000                     N/A
491    ZBH  191.19           33890834000                     N/A
492   ZBRA  540.25           29329543000                     N/A
493   ZION   59.98            8573185000                     N/A
494    ZTS  192.81           96909443000                     N/A

[495 rows x 4 columns]

In [12]:
''' several are not exist '''
print(len(dfnew))

495