This is for data getting process:

In [23]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

from pandas_datareader import data
import matplotlib.pyplot as plt
import statistics as stats

In [9]:
# ''' import 500 stocks' name'''
# stocks = pd.read_csv('sp_500_stocks.csv')
# print(type(stocks))

In [5]:
# print(stocks)

### get data fetched before for test

In [7]:
f2 = open('stocks_overview_json.json', 'r')
jsondata = f2.read()
f2.close()
# jsondata

In [8]:
import pandas as pd
dfre = pd.read_json(jsondata)
dfre

    Ticker   Price  Market Capitalization Number Of Shares to Buy
0        A  148.94            46496571000                     N/A
1      AAL   18.85            13195193000                     N/A
2      AAP  218.69            13876973000                     N/A
3     AAPL  159.34          2411094868000                     N/A
4     ABBV  124.08           205411402000                     N/A
..     ...     ...                    ...                     ...
490    YUM  120.90            39141212000                     N/A
491    ZBH  191.19            34070129000                     N/A
492   ZBRA  540.25            29563922000                     N/A
493   ZION   59.98             8461234000                     N/A
494    ZTS  192.81            96235274000                     N/A

[495 rows x 4 columns]

In [13]:
# f3 = open('stocks_for_yahoo.csv', 'w')
# f3.write(dfre['Ticker'])
# f3.close()
dfre['Ticker'].to_csv("stocks_for_yahoo.csv", encoding='utf-8', index=None)

### get data(names) back

In [17]:
df_back = pd.read_csv("stocks_for_yahoo.csv")
df_back

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
490    YUM
491    ZBH
492   ZBRA
493   ZION
494    ZTS

[495 rows x 1 columns]

### make new data frame

In [27]:
# my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
# df = pd.DataFrame(columns = my_columns)
# df

In [33]:
df_back = df_back.drop(df_back[df_back['Ticker'] == 'ALXN'].index)  # no 'ALXN' data in yahoo daily

In [50]:
df_back = df_back.drop(df_back[df_back['Ticker'] == 'CARR'].index)  # 'CARR' data in yahoo daily occur KeyError - 'Code'

In [40]:
import os
print(os.path.abspath('.'))

D:\mymanchester\CSImage2\VMware\year2_sem1\summer\project\Trading_Bot\apisetting

In [ ]:
# import datetime as dt
# start = dt.datetime(2006, 1, 1)
# end = dt.datetime(2015, 11, 30)
# data.DataReader('CARR', 'yahoo', start, end)

In [52]:
start_date = '2014-01-01'
end_date = '2018-01-01'
total_data = {}
no_data = []
for stock in df_back['Ticker']:
#     print(type(stock))
    SRC_DATA_FILENAME=stock+'_data.pkl'
    try:
        tmp_data = pd.read_pickle(SRC_DATA_FILENAME)
#         print('File data found...reading '+ stock + ' data')
    except FileNotFoundError:
#         print('File not found...downloading the '+ stock + ' data')
        try:    
            tmp_data = data.DataReader(stock, 'yahoo', start_date, end_date)
        except KeyError:
            no_data.append(stock)
#             df_back = df_back.drop(df_back[df_back['Ticker'] == stock].index)
            pass
        tmp_data.to_pickle(os.path.abspath('.') + "\\dataset\\"+SRC_DATA_FILENAME)
        tmp_data_signal = pd.DataFrame(index=tmp_data.index)
        tmp_data_signal['price'] = tmp_data['Adj Close']
        total_data[stock] = tmp_data_signal
                
        
print(total_data)

{'A':                 price
Date
2014-01-02  37.542892
2014-01-03  38.017101
2014-01-06  37.830093
2014-01-07  38.371078
2014-01-08  38.998928
...               ...
2017-12-22  65.303894
2017-12-26  65.206932
2017-12-27  65.255402
2017-12-28  65.400864
2017-12-29  65.079201

[1007 rows x 1 columns], 'AAL':                 price
Date
2014-01-02  23.907927
2014-01-03  25.020357
2014-01-06  25.482304
2014-01-07  25.369177
2014-01-08  26.047951
...               ...
2017-12-22  51.257690
2017-12-26  51.511105
2017-12-27  51.072510
2017-12-28  51.130981
2017-12-29  50.711876

[1007 rows x 1 columns], 'AAP':                  price
Date
2014-01-02  107.105492
2014-01-03  110.170113
2014-01-06  109.116043
2014-01-07  110.462921
2014-01-08  109.604050
...                ...
2017-12-22   98.819939
2017-12-26  100.205704
2017-12-27   98.053391
2017-12-28   97.994400
2017-12-29   97.974762

[1007 rows x 1 columns], 'AAPL':                 price
Date
2014-01-02  17.568451
2014-01-03  17.182550
2014-01-06  17.276245
2014-01-07  17.152693
2014-01-08  17.261324
...               ...
2017-12-22  41.969559
2017-12-26  40.904797
2017-12-27  40.911991
2017-12-28  41.027103
2017-12-29  40.583443

[1007 rows x 1 columns], 'ABBV':                 price
Date
2014-01-02  37.753345
2014-01-03  37.985752
2014-01-06  36.598511
2014-01-07  36.671150
2014-01-08  36.576717
...               ...
2017-12-22  81.875534
2017-12-26  81.492058
2017-12-27  81.775513
2017-12-28  81.525406
2017-12-29  80.625023

[1007 rows x 1 columns], 'ABC':                 price
Date
2014-01-02  61.905617
2014-01-03  61.949898
2014-01-06  61.728436
2014-01-07  62.401627
2014-01-08  63.012794
...               ...
2017-12-22  86.920685
2017-12-26  87.663338
2017-12-27  87.052292
2017-12-28  87.042870
2017-12-29  86.319016

[1007 rows x 1 columns], 'ABMD':                  price
Date
2014-01-02   26.850000
2014-01-03   27.059999
2014-01-06   27.299999
2014-01-07   27.620001
2014-01-08   28.230000
...                ...
2017-12-22  191.639999
2017-12-26  189.539993
2017-12-27  190.419998
2017-12-28  190.550003
2017-12-29  187.410004

[1007 rows x 1 columns], 'ABT':                 price
Date
2014-01-02  32.817184
2014-01-03  33.169144
2014-01-06  33.606934
2014-01-07  33.349400
2014-01-08  33.649860
...               ...
2017-12-22  53.521526
2017-12-26  53.587345
2017-12-27  54.029205
2017-12-28  54.019802
2017-12-29  53.653149

[1007 rows x 1 columns], 'ACN':                  price
Date
2014-01-02   70.362373
2014-01-03   70.596535
2014-01-06   69.850693
2014-01-07   70.700615
2014-01-08   71.247002
...                ...
2017-12-22  145.557663
2017-12-26  144.706375
2017-12-27  145.018524
2017-12-28  145.254990
2017-12-29  144.800980

[1007 rows x 1 columns], 'ADBE':                  price
Date
2014-01-02   59.290001
2014-01-03   59.160000
2014-01-06   58.119999
2014-01-07   58.970001
2014-01-08   58.900002
...                ...
2017-12-22  175.000000
2017-12-26  174.440002
2017-12-27  175.360001
2017-12-28  175.550003
2017-12-29  175.240005

[1007 rows x 1 columns], 'ADI':                 price
Date
2014-01-02  41.392246
2014-01-03  41.669426
2014-01-06  41.434235
2014-01-07  41.652618
2014-01-08  41.753410
...               ...
2017-12-22  82.896667
2017-12-26  82.691399
2017-12-27  83.129913
2017-12-28  83.391167
2017-12-29  83.064621

[1007 rows x 1 columns], 'ADM':                 price
Date
2014-01-02  34.610481
2014-01-03  34.771496
2014-01-06  34.843952
2014-01-07  34.497761
2014-01-08  34.103283
...               ...
2017-12-22  36.014713
2017-12-26  36.077435
2017-12-27  36.059521
2017-12-28  36.086399
2017-12-29  35.916145

[1007 rows x 1 columns], 'ADP':                  price
Date
2014-01-02   59.204494
2014-01-03   59.849476
2014-01-06   59.167435
2014-01-07   59.886536
2014-01-08   59.567757
...                ...
2017-12-22  108.417572
2017-12-26  109.057610
2017-12-27  108.770058
2017-12-28  108.816437
2017-12-29  108.705132

[1007 rows x 1 columns], 'ADSK':                  price
Date
2014-01-02   49.250000
2014-01-03   48.900002
2014-01-06   48.549999
2014-01-07   49.680000
2014-01-08   50.240002
...                ...
2017-12-22  103.889999
2017-12-26  103.800003
2017-12-27  104.580002
2017-12-28  105.070000
2017-12-29  104.830002

[1007 rows x 1 columns], 'AEE':                 price
Date
2014-01-02  27.888916
2014-01-03  27.786877
2014-01-06  28.069458
2014-01-07  28.430529
2014-01-08  28.210751
...               ...
2017-12-22  53.345310
2017-12-26  52.990826
2017-12-27  53.354397
2017-12-28  53.763420
2017-12-29  53.617989

[1007 rows x 1 columns], 'AEP':                 price
Date
2014-01-02  35.424740
2014-01-03  35.409378
2014-01-06  35.386345
2014-01-07  35.616730
2014-01-08  35.401707
...               ...
2017-12-22  65.443512
2017-12-26  64.857040
2017-12-27  65.079193
2017-12-28  65.443512
2017-12-29  65.372429

[1007 rows x 1 columns], 'AES':                 price
Date
2014-01-02  11.060570
2014-01-03  11.006314
2014-01-06  11.114828
2014-01-07  11.308599
2014-01-08  11.083824
...               ...
2017-12-22   9.452862
2017-12-26   9.391080
2017-12-27   9.417556
2017-12-28   9.496995
2017-12-29   9.558775

[1007 rows x 1 columns], 'AFL':                 price
Date
2014-01-02  27.514160
2014-01-03  27.593420
2014-01-06  27.063656
2014-01-07  27.151253
2014-01-08  26.959368
...               ...
2017-12-22  40.093117
2017-12-26  40.290798
2017-12-27  40.322983
2017-12-28  40.562042
2017-12-29  40.355160

[1007 rows x 1 columns], 'AIG':                 price
Date
2014-01-02  42.691563
2014-01-03  42.868355
2014-01-06  42.531609
2014-01-07  43.112507
2014-01-08  43.617630
...               ...
2017-12-22  53.329231
2017-12-26  53.437134
2017-12-27  53.536041
2017-12-28  53.949657
2017-12-29  53.572010

[1007 rows x 1 columns], 'AIV':                price
Date
2014-01-02  2.051412
2014-01-03  2.051412
2014-01-06  2.054579
2014-01-07  2.045870
2014-01-08  2.038744
...              ...
2017-12-22  3.886233
2017-12-26  3.898830
2017-12-27  3.901530
2017-12-28  3.922225
2017-12-29  3.933023

[1007 rows x 1 columns], 'AIZ':                 price
Date
2014-01-02  55.818085
2014-01-03  56.159916
2014-01-06  56.552994
2014-01-07  57.099907
2014-01-08  57.749344
...               ...
2017-12-22  93.669731
2017-12-26  93.799522
2017-12-27  93.910789
2017-12-28  94.272377
2017-12-29  93.493568

[1007 rows x 1 columns], 'AJG':                 price
Date
2014-01-02  38.182995
2014-01-03  38.191280
2014-01-06  38.158173
2014-01-07  39.175831
2014-01-08  39.051727
...               ...
2017-12-22  58.546864
2017-12-26  58.836792
2017-12-27  59.126720
2017-12-28  59.510170
2017-12-29  59.182831

[1007 rows x 1 columns], 'AKAM':                 price
Date
2014-01-02  46.529999
2014-01-03  46.450001
2014-01-06  46.110001
2014-01-07  47.009998
2014-01-08  46.680000
...               ...
2017-12-22  65.449997
2017-12-26  65.419998
2017-12-27  65.190002
2017-12-28  65.430000
2017-12-29  65.040001

[1007 rows x 1 columns], 'ALB':                  price
Date
2014-01-02   55.835690
2014-01-03   55.932961
2014-01-06   55.809155
2014-01-07   56.189411
2014-01-08   57.365566
...                ...
2017-12-22  122.264458
2017-12-26  122.028030
2017-12-27  121.451187
2017-12-28  121.470123
2017-12-29  120.940536

[1007 rows x 1 columns], 'ALGN':                  price
Date
2014-01-02   56.959999
2014-01-03   57.169998
2014-01-06   59.900002
2014-01-07   61.360001
2014-01-08   60.730000
...                ...
2017-12-22  223.119995
2017-12-26  223.539993
2017-12-27  226.449997
2017-12-28  226.479996
2017-12-29  222.190002

[1007 rows x 1 columns], 'ALK':                 price
Date
2014-01-02  33.096752
2014-01-03  33.702793
2014-01-06  33.481190
2014-01-07  33.463081
2014-01-08  34.281685
...               ...
2017-12-22  70.843658
2017-12-26  71.377762
2017-12-27  70.929512
2017-12-28  71.120239
2017-12-29  70.109299

[1007 rows x 1 columns], 'ALL':                 price
Date
2014-01-02  46.191807
2014-01-03  46.002052
2014-01-06  45.820892
2014-01-07  46.019283
2014-01-08  46.165939
...               ...
2017-12-22  96.657349
2017-12-26  96.870872
2017-12-27  97.112274
2017-12-28  97.400078
2017-12-29  97.214401

[1007 rows x 1 columns], 'ALLE':                 price
Date
2014-01-02  40.865292
2014-01-03  41.155495
2014-01-06  40.893372
2014-01-07  41.071243
2014-01-08  41.080608
...               ...
2017-12-22  77.336426
2017-12-26  77.384544
2017-12-27  77.009132
2017-12-28  76.585564
2017-12-29  76.585564

[1007 rows x 1 columns], 'AMAT':                 price
Date
2014-01-02  15.617753
2014-01-03  15.582160
2014-01-06  15.386384
2014-01-07  15.457577
2014-01-08  15.502068
...               ...
2017-12-22  49.461754
2017-12-26  48.502151
2017-12-27  49.100716
2017-12-28  49.138714
2017-12-29  48.568668

[1007 rows x 1 columns], 'AMCR':                 price
Date
2014-01-02   7.037660
2014-01-03   6.971124
2014-01-06   6.971124
2014-01-07   6.985911
2014-01-08   7.015480
...               ...
2017-12-22   9.628229
2017-12-26  10.054257
2017-12-27  10.054257
2017-12-28  10.054257
2017-12-29  10.054257

[1007 rows x 1 columns], 'AMD':             price
Date
2014-01-02   3.95
2014-01-03   4.00
2014-01-06   4.13
2014-01-07   4.18
2014-01-08   4.18
...           ...
2017-12-22  10.54
2017-12-26  10.46
2017-12-27  10.53
2017-12-28  10.55
2017-12-29  10.28

[1007 rows x 1 columns], 'AME':                 price
Date
2014-01-02  49.513073
2014-01-03  49.589138
2014-01-06  49.313473
2014-01-07  49.522594
2014-01-08  49.408539
...               ...
2017-12-22  70.841766
2017-12-26  70.783226
2017-12-27  70.910072
2017-12-28  71.105217
2017-12-29  70.714920

[1007 rows x 1 columns], 'AMGN':                  price
Date
2014-01-02   95.447197
2014-01-03   94.350952
2014-01-06   93.534958
2014-01-07   95.966469
2014-01-08   95.513138
...                ...
2017-12-22  159.535904
2017-12-26  159.237503
2017-12-27  159.346008
2017-12-28  158.477875
2017-12-29  157.257080

[1007 rows x 1 columns], 'AMP':                  price
Date
2014-01-02   94.627121
2014-01-03   94.643738
2014-01-06   94.394432
2014-01-07   95.200455
2014-01-08   96.222519
...                ...
2017-12-22  157.026596
2017-12-26  156.651215
2017-12-27  156.504715
2017-12-28  157.118164
2017-12-29  155.158859

[1007 rows x 1 columns], 'AMT':                  price
Date
2014-01-02   68.860710
2014-01-03   69.060059
2014-01-06   69.502098
2014-01-07   70.464165
2014-01-08   71.018845
...                ...
2017-12-22  130.739090
2017-12-26  130.971481
2017-12-27  132.232513
2017-12-28  133.493561
2017-12-29  133.269379

[1007 rows x 1 columns], 'AMZN':                   price
Date
2014-01-02   397.970001
2014-01-03   396.440002
2014-01-06   393.630005
2014-01-07   398.029999
2014-01-08   401.920013
...                 ...
2017-12-22  1168.359985
2017-12-26  1176.760010
2017-12-27  1182.260010
2017-12-28  1186.099976
2017-12-29  1169.469971

[1007 rows x 1 columns], 'ANET':                  price
Date
2014-06-06   55.000000
2014-06-09   55.200001
2014-06-10   60.000000
2014-06-11   63.500000
2014-06-12   66.000000
...                ...
2017-12-22  236.550003
2017-12-26  235.660004
2017-12-27  239.500000
2017-12-28  240.639999
2017-12-29  235.580002

[900 rows x 1 columns], 'ANSS':                  price
Date
2014-01-02   86.010002
2014-01-03   85.599998
2014-01-06   85.019997
2014-01-07   85.580002
2014-01-08   85.279999
...                ...
2017-12-22  146.660004
2017-12-26  146.389999
2017-12-27  146.660004
2017-12-28  147.649994
2017-12-29  147.589996

[1007 rows x 1 columns], 'ANTM':                  price
Date
2014-01-02   81.211250
2014-01-03   81.211250
2014-01-06   80.001549
2014-01-07   81.614487
2014-01-08   82.636009
...                ...
2017-12-22  216.110489
2017-12-26  215.947601
2017-12-27  215.765625
2017-12-28  217.489899
2017-12-29  215.545258

[1007 rows x 1 columns], 'AON':                  price
Date
2014-01-02   75.623581
2014-01-03   75.843918
2014-01-06   75.054283
2014-01-07   75.568474
2014-01-08   75.201195
...                ...
2017-12-22  128.312469
2017-12-26  128.264359
2017-12-27  128.860901
2017-12-28  129.438232
2017-12-29  128.937927

[1007 rows x 1 columns], 'AOS':                 price
Date
2014-01-02  23.850975
2014-01-03  23.846500
2014-01-06  23.828611
2014-01-07  23.596003
2014-01-08  23.327612
...               ...
2017-12-22  57.379543
2017-12-26  57.754208
2017-12-27  57.960278
2017-12-28  57.707378
2017-12-29  57.398277

[1007 rows x 1 columns], 'APA':                 price
Date
2014-01-02  73.666374
2014-01-03  73.718094
2014-01-06  74.381676
2014-01-07  75.751907
2014-01-08  74.674698
...               ...
2017-12-22  39.654629
2017-12-26  40.070492
2017-12-27  39.636143
2017-12-28  39.617664
2017-12-29  39.016987

[1007 rows x 1 columns], 'APD':                  price
Date
2014-01-02   86.251976
2014-01-03   86.081680
2014-01-06   86.290680
2014-01-07   85.222588
2014-01-08   85.207123
...                ...
2017-12-22  149.805176
2017-12-26  149.420166
2017-12-27  150.034317
2017-12-28  150.905167
2017-12-29  151.283218

[1007 rows x 1 columns], 'APH':                 price
Date
2014-01-02  20.425837
2014-01-03  20.500340
2014-01-06  20.311773
2014-01-07  20.449121
2014-01-08  20.563198
...               ...
2017-12-22  42.580452
2017-12-26  42.411369
2017-12-27  42.556297
2017-12-28  42.802677
2017-12-29  42.416199

[1007 rows x 1 columns], 'APTV':                 price
Date
2014-01-02  46.148479
2014-01-03  46.031982
2014-01-06  46.039753
2014-01-07  46.862999
2014-01-08  47.189201
...               ...
2017-12-22  83.295258
2017-12-26  83.383652
2017-12-27  83.236305
2017-12-28  84.051659
2017-12-29  83.334526

[1007 rows x 1 columns], 'ARE':                  price
Date
2014-01-02   50.709274
2014-01-03   51.242386
2014-01-06   51.051418
2014-01-07   51.194641
2014-01-08   51.083248
...                ...
2017-12-22  116.671585
2017-12-26  117.509705
2017-12-27  118.266731
2017-12-28  118.575249
2017-12-29  118.502655

[1007 rows x 1 columns], 'ATO':                 price
Date
2014-01-02  37.204151
2014-01-03  37.262451
2014-01-06  36.804371
2014-01-07  37.628918
2014-01-08  37.828812
...               ...
2017-12-22  78.655792
2017-12-26  78.202843
2017-12-27  78.563324
2017-12-28  79.117973
2017-12-29  79.395294

[1007 rows x 1 columns], 'ATVI':                 price
Date
2014-01-02  17.043394
2014-01-03  17.250896
2014-01-06  17.052824
2014-01-07  17.279192
2014-01-08  17.298054
...               ...
2017-12-22  62.946911
2017-12-26  61.912594
2017-12-27  61.805256
2017-12-28  61.863808
2017-12-29  61.785748

[1007 rows x 1 columns], 'AVB':                  price
Date
2014-01-02   92.623192
2014-01-03   93.813896
2014-01-06   95.208275
2014-01-07   94.800911
2014-01-08   95.035904
...                ...
2017-12-22  156.481201
2017-12-26  157.245499
2017-12-27  156.876541
2017-12-28  158.142853
2017-12-29  157.992340

[1007 rows x 1 columns], 'AVGO':                  price
Date
2014-01-02   42.849556
2014-01-03   43.012318
2014-01-06   42.719330
2014-01-07   43.126259
2014-01-08   43.769196
...                ...
2017-12-22  227.222122
2017-12-26  223.541153
2017-12-27  224.424591
2017-12-28  225.550522
2017-12-29  222.501816

[1007 rows x 1 columns], 'AVY':                  price
Date
2014-01-02   42.370426
2014-01-03   42.319195
2014-01-06   42.216694
2014-01-07   42.378956
2014-01-08   42.242313
...                ...
2017-12-22  107.009186
2017-12-26  107.618431
2017-12-27  107.918343
2017-12-28  108.321381
2017-12-29  107.655922

[1007 rows x 1 columns], 'AWK':                 price
Date
2014-01-02  35.698849
2014-01-03  35.595806
2014-01-06  35.458447
2014-01-07  35.810444
2014-01-08  35.801865
...               ...
2017-12-22  85.089798
2017-12-26  85.005173
2017-12-27  85.400024
2017-12-28  86.133324
2017-12-29  86.011116

[1007 rows x 1 columns], 'AXP':                 price
Date
2014-01-02  79.681335
2014-01-03  79.939667
2014-01-06  79.904030
2014-01-07  79.601196
2014-01-08  79.851250
...               ...
2017-12-22  93.379768
2017-12-26  93.218979
2017-12-27  93.748596
2017-12-28  94.287659
2017-12-29  93.918839

[1007 rows x 1 columns], 'AZO':                  price
Date
2014-01-02  474.109985
2014-01-03  475.500000
2014-01-06  478.769989
2014-01-07  483.589996
2014-01-08  489.070007
...                ...
2017-12-22  710.090027
2017-12-26  714.479980
2017-12-27  707.000000
2017-12-28  718.380005
2017-12-29  711.369995

[1007 rows x 1 columns], 'BA':                  price
Date
2014-01-02  116.807953
2014-01-03  117.619873
2014-01-06  118.295074
2014-01-07  120.089874
2014-01-08  120.354836
...                ...
2017-12-22  281.228210
2017-12-26  281.475922
2017-12-27  281.723694
2017-12-28  282.419434
2017-12-29  281.047150

[1007 rows x 1 columns], 'BAC':                 price
Date
2014-01-02  14.180896
2014-01-03  14.453944
2014-01-06  14.674143
2014-01-07  14.533214
2014-01-08  14.603679
...               ...
2017-12-22  27.684006
2017-12-26  27.591360
2017-12-27  27.545034
2017-12-28  27.609888
2017-12-29  27.350464

[1007 rows x 1 columns], 'BAX':                 price
Date
2014-01-02  33.645954
2014-01-03  33.699451
2014-01-06  33.757797
2014-01-07  33.937737
2014-01-08  34.049583
...               ...
2017-12-22  62.254143
2017-12-26  62.542706
2017-12-27  62.311855
2017-12-28  62.427284
2017-12-29  62.177189

[1007 rows x 1 columns], 'BBY':                 price
Date
2014-01-02  32.364929
2014-01-03  32.508781
2014-01-06  31.493874
2014-01-07  30.670763
2014-01-08  30.239244
...               ...
2017-12-22  61.165607
2017-12-26  61.995007
2017-12-27  62.304893
2017-12-28  62.359570
2017-12-29  62.405144

[1007 rows x 1 columns], 'BDX':                  price
Date
2014-01-02   97.566269
2014-01-03   97.771873
2014-01-06   97.843407
2014-01-07   99.255844
2014-01-08   99.300552
...                ...
2017-12-22  207.588715
2017-12-26  207.388062
2017-12-27  207.674744
2017-12-28  204.807892
2017-12-29  204.559418

[1007 rows x 1 columns], 'BEN':                 price
Date
2014-01-02  42.349178
2014-01-03  42.617962
2014-01-06  42.782234
2014-01-07  42.550762
2014-01-08  42.371571
...               ...
2017-12-22  35.251942
2017-12-26  34.978977
2017-12-27  34.866589
2017-12-28  34.946873
2017-12-29  34.786304

[1007 rows x 1 columns], 'BIIB':                  price
Date
2014-01-02  280.329987
2014-01-03  277.399994
2014-01-06  274.970001
2014-01-07  273.519989
2014-01-08  290.010010
...                ...
2017-12-22  319.500000
2017-12-26  319.779999
2017-12-27  320.070007
2017-12-28  320.329987
2017-12-29  318.570007

[1007 rows x 1 columns], 'BIO':                  price
Date
2014-01-02  122.650002
2014-01-03  121.849998
2014-01-06  121.070000
2014-01-07  123.919998
2014-01-08  124.349998
...                ...
2017-12-22  244.190002
2017-12-26  242.039993
2017-12-27  240.360001
2017-12-28  239.309998
2017-12-29  238.669998

[1007 rows x 1 columns], 'BK':                 price
Date
2014-01-02  29.208004
2014-01-03  29.546055
2014-01-06  29.537600
2014-01-07  29.191097
2014-01-08  29.292515
...               ...
2017-12-22  48.983097
2017-12-26  48.810753
2017-12-27  48.837955
2017-12-28  49.091953
2017-12-29  48.856110

[1007 rows x 1 columns], 'BKNG':                   price
Date
2014-01-02  1145.439941
2014-01-03  1132.680054
2014-01-06  1139.530029
2014-01-07  1163.069946
2014-01-08  1157.500000
...                 ...
2017-12-22  1775.260010
2017-12-26  1755.319946
2017-12-27  1757.880005
2017-12-28  1764.089966
2017-12-29  1737.739990

[1007 rows x 1 columns], 'BKR':                 price
Date
2014-01-02  31.933676
2014-01-03  31.650192
2014-01-06  31.537973
2014-01-07  31.177713
2014-01-08  30.835167
...               ...
2017-12-22  28.803581
2017-12-26  28.651655
2017-12-27  28.624844
2017-12-28  28.061819
2017-12-29  28.276304

[1007 rows x 1 columns], 'BLK':                  price
Date
2014-01-02  259.079193

In [53]:
no_data

['CTVA', 'DOW', 'FOX', 'FOXA', 'OTIS']

In [55]:
len(total_data)

493