This is for data getting process:

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

from pandas_datareader import data
import matplotlib.pyplot as plt
import statistics as stats

In [2]:
# ''' import 500 stocks' name'''
# stocks = pd.read_csv('sp_500_stocks.csv')
# print(type(stocks))

In [3]:
# print(stocks)

### get data fetched before for test

In [4]:
f2 = open('stocks_overview_json.json', 'r')
jsondata = f2.read()
f2.close()
# jsondata

In [5]:
import pandas as pd
dfre = pd.read_json(jsondata)
dfre

    Ticker   Price  Market Capitalization Number Of Shares to Buy
0        A  148.94            46496571000                     N/A
1      AAL   18.85            13195193000                     N/A
2      AAP  218.69            13876973000                     N/A
3     AAPL  159.34          2411094868000                     N/A
4     ABBV  124.08           205411402000                     N/A
..     ...     ...                    ...                     ...
490    YUM  120.90            39141212000                     N/A
491    ZBH  191.19            34070129000                     N/A
492   ZBRA  540.25            29563922000                     N/A
493   ZION   59.98             8461234000                     N/A
494    ZTS  192.81            96235274000                     N/A

[495 rows x 4 columns]

In [6]:
# f3 = open('stocks_for_yahoo.csv', 'w')
# f3.write(dfre['Ticker'])
# f3.close()
dfre['Ticker'].to_csv("stocks_for_yahoo.csv", encoding='utf-8', index=None)

### get data(names) back

In [7]:
df_back = pd.read_csv("stocks_for_yahoo.csv")
df_back

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
490    YUM
491    ZBH
492   ZBRA
493   ZION
494    ZTS

[495 rows x 1 columns]

### make new data frame

In [8]:
# df_back = df_back.drop(df_back[df_back['Ticker'] == 'ALXN'].index)  # no 'ALXN' data in yahoo daily

In [9]:
# df_back = df_back.drop(df_back[df_back['Ticker'] == 'CARR'].index)  # 'CARR' data in yahoo daily occur KeyError - 'Code'

In [10]:
import os
print(os.path.abspath('.'))

D:\mymanchester\CSImage2\VMware\year2_sem1\summer\project\Trading_Bot\apisetting

In [11]:
# import datetime as dt
# start = dt.datetime(2006, 1, 1)
# end = dt.datetime(2015, 11, 30)
# data.DataReader('CARR', 'yahoo', start, end)

In [12]:
def get_stock_data():
    start_date = '2014-01-01'
    end_date = '2018-01-01'
    global total_data
    total_data = {}
    global no_data
    no_data = []
    for stock in df_back['Ticker']:
    #     print(type(stock))
        SRC_DATA_FILENAME=stock+'_data.pkl'
        try:
            tmp_data = pd.read_pickle(SRC_DATA_FILENAME)
    #         print('File data found...reading '+ stock + ' data')
        except FileNotFoundError:
    #         print('File not found...downloading the '+ stock + ' data')
            try:    
                tmp_data = data.DataReader(stock, 'yahoo', start_date, end_date)
            except KeyError:
                no_data.append(stock)
#                 df_back = df_back.drop(df_back[df_back['Ticker'] == stock].index)
                pass
#             tmp_data.to_pickle(os.path.abspath('.') + "\\dataset\\"+SRC_DATA_FILENAME)  # already done
            tmp_data_signal = pd.DataFrame(index=tmp_data.index)
            tmp_data_signal['price'] = tmp_data['Adj Close']
            total_data[stock] = tmp_data_signal


    # print(total_data)
    print("all data fetching finished.")

In [13]:
get_stock_data()

all data fetching finished.

In [14]:
no_data

['CARR', 'CTVA', 'DOW', 'FOX', 'FOXA', 'OTIS']

In [15]:
len(total_data)

495