# SETTING UP API

1. import several libraries:

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module

2. set up

In [2]:
# # stock = 'http://finance.yahoo.com/d/quotes.csv?s=<股票名称>&f=<数据列选项>'
# # stock_url = 'http://finance.yahoo.com/d/quotes.csv?s=AAPLr'
# test = 'http://ichart.yahoo.com/table.csv?s=<string>&a=<int>&b=<int>&c=<int>&d=<int>&e=<int>&f=<int>&g=d&ignore=.csv'
# data = requests.get(test).json()
# data

''' on website rapid API - https://rapidapi.com/sparior/api/yahoo-finance15/ '''

In [3]:
''' import news for testing '''
# import requests

url = "https://yahoo-finance15.p.rapidapi.com/api/yahoo/ne/news"

headers = {
    'x-rapidapi-key': "9f6fae673emsha786afc58b93082p1c5fb8jsn4ec87b939b9a",
    'x-rapidapi-host': "yahoo-finance15.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers)

# print(response.text)

In [4]:
import requests
# symbol = 'AAPL,MSFT'  # for test
symbol = 'AAPL'
url = f"https://yahoo-finance15.p.rapidapi.com/api/yahoo/qu/quote/{symbol}"

headers = {
    'x-rapidapi-key': "9f6fae673emsha786afc58b93082p1c5fb8jsn4ec87b939b9a",
    'x-rapidapi-host': "yahoo-finance15.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers)

# print(response.text)
# data = response.text
data = response.json()
# print(data)  # list
data
# print(type(data))

[{'ask': 145.1,
  'askSize': 13,
  'averageDailyVolume10Day': 88213185,
  'averageDailyVolume3Month': 85057328,
  'bid': 145.1,
  'bidSize': 18,
  'bookValue': 4.146,
  'currency': 'USD',
  'dividendDate': {'date': '2021-05-13 00:00:00.000000',
   'timezone_type': 1,
   'timezone': '+00:00'},
  'earningsTimestamp': {'date': '2021-07-27 16:30:00.000000',
   'timezone_type': 1,
   'timezone': '+00:00'},
  'earningsTimestampStart': {'date': '2021-10-27 10:59:00.000000',
   'timezone_type': 1,
   'timezone': '+00:00'},
  'earningsTimestampEnd': {'date': '2021-11-01 12:00:00.000000',
   'timezone_type': 1,
   'timezone': '+00:00'},
  'epsForward': 5.34,
  'epsTrailingTwelveMonths': 4.449,
  'exchange': 'NMS',
  'exchangeDataDelayedBy': 0,
  'exchangeTimezoneName': 'America/New_York',
  'exchangeTimezoneShortName': 'EDT',
  'fiftyDayAverage': 138.45343,
  'fiftyDayAverageChange': 6.5265656,
  'fiftyDayAverageChangePercent': 0.047139067,
  'fiftyTwoWeekHigh': 150,
  'fiftyTwoWeekHighChange': -5.0200043,
  'fiftyTwoWeekHighChangePercent': -0.033466697,
  'fiftyTwoWeekLow': 93.7125,
  'fiftyTwoWeekLowChange': 51.267494,
  'fiftyTwoWeekLowChangePercent': 0.5470721,
  'financialCurrency': 'USD',
  'forwardPE': 27.14981,
  'fullExchangeName': 'NasdaqGS',
  'gmtOffSetMilliseconds': -14400000,
  'language': 'en-US',
  'longName': 'Apple Inc.',
  'market': 'us_market',
  'marketCap': 2419368132608,
  'marketState': 'POST',
  'messageBoardId': 'finmb_24937',
  'postMarketChange': 0.08000183,
  'postMarketChangePercent': 0.05518129,
  'postMarketPrice': 145.06,
  'postMarketTime': {'date': '2021-07-28 22:55:11.000000',
   'timezone_type': 1,
   'timezone': '+00:00'},
  'priceHint': 2,
  'priceToBook': 34.968643,
  'quoteSourceName': 'Nasdaq Real Time Price',
  'quoteType': 'EQUITY',
  'regularMarketChange': -1.7900085,
  'regularMarketChangePercent': -1.219601,
  'regularMarketDayHigh': 146.96,
  'regularMarketDayLow': 142.54,
  'regularMarketOpen': 144.81,
  'regularMarketPreviousClose': 146.77,
  'regularMarketPrice': 144.98,
  'regularMarketTime': {'date': '2021-07-28 20:00:01.000000',
   'timezone_type': 1,
   'timezone': '+00:00'},
  'regularMarketVolume': 113982837,
  'sharesOutstanding': 16687599616,
  'shortName': 'Apple Inc.',
  'sourceInterval': 15,
  'symbol': 'AAPL',
  'tradeable': False,
  'trailingAnnualDividendRate': 0.82,
  'trailingAnnualDividendYield': 0.0055869725,
  'trailingPE': 32.587097,
  'twoHundredDayAverage': 131.05212,
  'twoHundredDayAverageChange': 13.927872,
  'twoHundredDayAverageChangePercent': 0.10627735}]

In [5]:
''' dataframe '''
# df = data
# df
my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
df = pd.DataFrame(columns = my_columns)
df

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [6]:
df = df.append(
                                        pd.Series(['AAPL', 
                                                   data[0]['ask'], 
                                                   data[0]['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
df

  Ticker  Price Market Capitalization Number Of Shares to Buy
0   AAPL  145.1         2419368132608                     N/A

## =====================================================

In [18]:
''' import 500 stocks' name'''
stocks = pd.read_csv('sp_500_stocks.csv')
print(type(stocks))

<class 'pandas.core.frame.DataFrame'>

In [22]:
print(stocks)

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [8]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [30]:
# symbol_groups = list(chunks(stocks['Ticker'], 100))
# symbol_strings = []
# for i in range(0, len(symbol_groups)):
#     symbol_strings.append(','.join(symbol_groups[i]))
# #     print(symbol_strings[i])

# final_dataframe = pd.DataFrame(columns = my_columns)
dfnew = pd.DataFrame(columns = my_columns)
# for symbol_string in symbol_strings:
for symbol_string in stocks['Ticker'][:100]:
#     print(symbol_strings)
    batch_api_call_url = f"https://yahoo-finance15.p.rapidapi.com/api/yahoo/qu/quote/{symbol_string}"
    headers = {
    'x-rapidapi-key': "9f6fae673emsha786afc58b93082p1c5fb8jsn4ec87b939b9a",
    'x-rapidapi-host': "yahoo-finance15.p.rapidapi.com"
    }

    response_tmp = requests.request("GET", batch_api_call_url, headers=headers)

    data_tmp = response_tmp.json()
#     print(data_tmp)
    if data_tmp == '':
        pass
    else:
        dfnew = dfnew.append(
                                            pd.Series([symbol_string, 
                                                       data_tmp[0]['ask'], 
                                                       data_tmp[0]['marketCap'], 
                                                       'N/A'], 
                                                      index = my_columns), 
                                            ignore_index = True)
#     print(dfnew)
#     for symbol in symbol_string.split(','):
#         final_dataframe = final_dataframe.append(
#                                         pd.Series([symbol, 
#                                                    data[0][symbol]['quote']['ask'], 
#                                                    data[0][symbol]['quote']['marketCap'], 
#                                                    'N/A'], 
#                                                   index = my_columns), 
#                                         ignore_index = True)
        
    
# final_dataframe
dfnew

KeyError: 0

In [31]:
dfnew

   Ticker    Price Market Capitalization Number Of Shares to Buy
0       A   154.50           45959479296                     N/A
1     AAL    21.64           14004515840                     N/A
2     AAP   213.28           13889406976                     N/A
3    AAPL   145.08         2419368132608                     N/A
4    ABBV   118.88          209385390080                     N/A
..    ...      ...                   ...                     ...
64     BK    50.30           43460808704                     N/A
65   BKNG  2287.44           91397087232                     N/A
66    BKR    21.01           21892710400                     N/A
67    BLK   870.00          131085279232                     N/A
68    BLL    81.29           26644457472                     N/A

[69 rows x 4 columns]

In [36]:

batch_api_call_url = f"https://yahoo-finance15.p.rapidapi.com/api/yahoo/qu/quote/{stocks['Ticker'][1]}"
headers = {
'x-rapidapi-key': "9f6fae673emsha786afc58b93082p1c5fb8jsn4ec87b939b9a",
'x-rapidapi-host': "yahoo-finance15.p.rapidapi.com"
}

response_tmp = requests.request("GET", batch_api_call_url, headers=headers)

data_tmp = response_tmp.json()
print(data_tmp)

{'message': 'You have exceeded the MONTHLY quota for Request on your current plan, BASIC. Upgrade your plan at https://rapidapi.com/sparior/api/yahoo-finance15'}

In [38]:
''' since free trial so exceeded.. '''
print(len(dfnew))

69